## Manipulating time-series data

#### Manipulate data to add a row with index 'u' to df, with values 0,1,-1,2,-2. Then add a row with index 'v' which is the sum of rows 'b' and 'd'.

In [2]:
import pandas as pd
import numpy as np
np.random.seed(0)

In [3]:
#problem 1
df = pd.DataFrame(np.random.randint(0,100,size=(20, 5)), columns=['First','Second','Third','Fourth','Fifth'],index=list('abcdefghijklmnopqrst'))
df

   First  Second  Third  Fourth  Fifth
a     44      47     64      67     67
b      9      83     21      36     87
c     70      88     88      12     58
d     65      39     87      46     88
e     81      37     25      77     72
f      9      20     80      69     79
g     47      64     82      99     88
h     49      29     19      19     14
i     39      32     65       9     57
j     32      31     74      23     35
k     75      55     28      34      0
l      0      36     53       5     38
m     17      79      4      42     58
n     31       1     65      41     57
o     35      11     46      82     91
p      0      14     99      53     12
q     42      84     75      68      6
r     68      47      3      76     52
s     78      15     20      99     58
t     23      79     13      85     48

In [4]:
#problem 1
#df_u = pd.DataFrame(np.random.randint(0,100,size=(1, 5)), columns=['First','Second','Third','Fourth','Fifth'],index=list('u'))
#df_u
df_u = pd.DataFrame({'First':['0'],'Second':['1'], 'Third':['-1'],'Fourth':['2'],'Fifth':['-2']},index=['u'])
df_u
df.append(df_u)

  First Second Third Fourth Fifth
a    44     47    64     67    67
b     9     83    21     36    87
c    70     88    88     12    58
d    65     39    87     46    88
e    81     37    25     77    72
f     9     20    80     69    79
g    47     64    82     99    88
h    49     29    19     19    14
i    39     32    65      9    57
j    32     31    74     23    35
k    75     55    28     34     0
l     0     36    53      5    38
m    17     79     4     42    58
n    31      1    65     41    57
o    35     11    46     82    91
p     0     14    99     53    12
q    42     84    75     68     6
r    68     47     3     76    52
s    78     15    20     99    58
t    23     79    13     85    48
u     0      1    -1      2    -2

In [5]:
df.iloc[1:4:2,0:5]

   First  Second  Third  Fourth  Fifth
b      9      83     21      36     87
d     65      39     87      46     88

In [6]:
#problem 1
#df_v = df.index('b') + df.index('d')
#df_v
df_v = pd.DataFrame(df.iloc[1:4:2,0:5].sum(axis=0))
df_vt = pd.DataFrame.transpose(df_v)
df_vt

   First  Second  Third  Fourth  Fifth
0     74     122    108      82    175

In [7]:
#1
df_all = df.append(df_vt)
df_all

   First  Second  Third  Fourth  Fifth
a     44      47     64      67     67
b      9      83     21      36     87
c     70      88     88      12     58
d     65      39     87      46     88
e     81      37     25      77     72
f      9      20     80      69     79
g     47      64     82      99     88
h     49      29     19      19     14
i     39      32     65       9     57
j     32      31     74      23     35
k     75      55     28      34      0
l      0      36     53       5     38
m     17      79      4      42     58
n     31       1     65      41     57
o     35      11     46      82     91
p      0      14     99      53     12
q     42      84     75      68      6
r     68      47      3      76     52
s     78      15     20      99     58
t     23      79     13      85     48
0     74     122    108      82    175

#### Read timeseries csv file.

In [11]:
ts = pd.read_csv('timeseries_1.csv',index_col=0)
ts

                  open   high    low  close  volume
02/01/2014 8:00  748.1  748.2  746.7  746.8   39470
02/01/2014 8:01  746.9  747.1  746.8  746.8   10498
02/01/2014 8:02  746.8  747.2  746.7  747.1    7782
02/01/2014 8:03  747.2  747.8  747.1  747.6   10678
02/01/2014 8:04  747.5  747.8  747.5  747.8    3194
02/01/2014 8:05  747.7  747.8  747.6  747.6    2274
02/01/2014 8:06  747.6  747.8  747.6  747.6    2206
02/01/2014 8:07  747.6  747.7  747.2  747.2    3890
02/01/2014 8:08  747.2  747.5  747.2  747.2    4086
02/01/2014 8:09  747.3  747.4  747.2  747.3    2830
02/01/2014 8:10  747.2  747.3  747.2  747.3     306
02/01/2014 8:11  747.2  747.2  747.0  747.1    4186
02/01/2014 8:12  747.0  747.3  747.0  747.2    3258
02/01/2014 8:13  747.2  747.5  747.2  747.5    4366
02/01/2014 8:14  747.5  747.6  747.4  747.6    1246
02/01/2014 8:15  747.6  747.7  747.5  747.7    1862
02/01/2014 8:16  747.7  747.9  747.6  747.7    3022
02/01/2014 8:17  747.7  747.8  747.6  747.7    1902
02/01/2014 8:18  747.6  747.7  747.6  747.6    2610
02/01/2014 8:19  747.7  747.8  747.7  747.7     646
02/01/2014 8:20  747.7  747.8  747.7  747.7     862

#### Find the mean of the high prices for the minutes where volume is greater than 3000.

In [20]:
#2A
ts['high'][ts['volume']>3000].mean()

747.5636363636364

In [ ]:
ts[(ts['close']-ts['open']>0)&

#### Suppose we have a trade signal which tells us to buy if the close price minus the open price of the previous minute is positive, and the volume of the previous minute is greater than that of the minute before it. How many times would we buy?

In [29]:
#2b
ts_buy = ts[(ts['close']-ts['open']>0)&(ts['volume']>ts['volume'].shift(-1))]
ts_buy

                  open   high    low  close  volume
02/01/2014 8:03  747.2  747.8  747.1  747.6   10678
02/01/2014 8:04  747.5  747.8  747.5  747.8    3194
02/01/2014 8:13  747.2  747.5  747.2  747.5    4366

In [32]:
pc = pd.DataFrame({'Buy_or_Sell':['B','S','B','S','S','B'],'Price':[2204.0,2275.5,2250.75,2230.0,2280.75,2282.25],'Qty':[1,2,1,2,1,3]})
pc

  Buy_or_Sell    Price  Qty
0           B  2204.00    1
1           S  2275.50    2
2           B  2250.75    1
3           S  2230.00    2
4           S  2280.75    1
5           B  2282.25    3

#### Consider the following dataframe of futures contract transactions: 
pc = pd.DataFrame({'Buy_or_Sell':['B','S','B','S','S','B'],'Price':[2204.0,2275.5,2250.75,2230.0,2280.75,2282.25],'Qty':[1,2,1,2,1,3]}).

#### Create a new column called 'Value', which is Price * Qty, but is negative if the transaction is a buy, and positive if the transaction is a sell (why?).

In [54]:
#3a
pc['Value'] = (pc['Price']*pc['Qty']*-1).where(pc['Buy_or_Sell']=='B',pc['Qty']*pc['Price'])
pc

  Buy_or_Sell    Price  Qty    Value
0           B  2204.00    1 -2204.00
1           S  2275.50    2  4551.00
2           B  2250.75    1 -2250.75
3           S  2230.00    2  4460.00
4           S  2280.75    1  2280.75
5           B  2282.25    3 -6846.75

#### How would we determine the money we made on these transactions? (Assume the prices given are in dollars.)

In [77]:
buys = pc['Value'].where(pc['Buy_or_Sell']=='B').sum()
sells = pc['Value'].where(pc['Buy_or_Sell']=='S').sum()
pnl = buys+sells
pnl

-9.75

#### Find the average (mean) price of buy transactions.

In [46]:
#3c
pc['Price'].where(pc['Buy_or_Sell']=='B').mean()

2245.6666666666665

##### The file customer_data.csv contains some data on the business customers of a large telecommunications firm. The columns are specified as follows:

##### INDUSTRY: the customer's industry
##### EMP: the number of employees that work at the business
##### ANNUAL_SALES: the business's annual sales
##### PROVINCE: the business headquarters
##### MOBILITY: the amount the customer has spent on mobility products (cell phones, tablets, etc.) in the last 12 months
##### INTERNET: the amount the customer has spent on Internet products in the last 12 months.
    
#### The marketing department would like to target a campaign to medium sized (100-999 Employees) customers who are in either Education or Food Services, and who currently spend less than  5000 dollars total per year on all services. Create a boolean column called INCLUDE that indicates whether the customer on that row should be included in the campaign.

In [60]:
#4
cd = pd.read_csv('customer_info.csv')
cd

,CUSTOMER_ID,INDUSTRY,EMP,ANNUAL_SALES,PROVINCE,MOBILITY,INTERNET
0,129078,Finance and Insurance,36.0,NaN,AB,10192.825459,699.539869
1,128424,Construction,261.0,10675108.00,BC,17367.492873,1907.819410
2,125960,Finance and Insurance,10.0,756786.00,AB,6162.609229,1789.017919
3,120981,Construction,31.0,1223808.00,BC,19176.373541,2123.016418
4,129251,Education,NaN,1148650.00,AB,1538.194116,1620.096543
5,128936,Construction,288.0,9197420.44,AB,10177.116938,8509.512884
6,120612,Construction,287.0,12744917.00,BC,18418.015877,16184.978195
7,123390,Food Services,14.0,494593.20,AB,473.066999,2366.373927
8,122024,Education,248.0,NaN,AB,4468.821223,9592.091142
9,120487,Agriculture,47.0,1854011.00,AB,1675.872927,9333.580904
10,124922,Finance and Insurance,33.0,3098014.50,AB,6951.027856,4140.604965
11,126049,Construction,72.0,3590242.00,BC,8010.260516,0.000000
12,128641,Food Services,10.0,271053.60,AB,674.084112,8859.252413
13,125998,Finance and Insurance,25.0,1592596.50,AB,675.183097,2276.898474
14,121312,Finance and Insurance,10.0,836215.50,AB,1530.280450,2106.413336
15,126852,Healthcare,240.0,NaN,AB,3233.790499,2373.312957
16,125253,Construction,21.0,639670.72,AB,1447.475487,5514.806374
17,121256,Healthcare,NaN,1363329.00,BC,5879.573157,1636.529400
18,128570,Finance and Insurance,27.0,2216085.00,AB,0.000000,2608.382661
19,129042,Healthcare,146.0,9130229.00,BC,5468.266820,8078.559844
20,126544,Finance and Insurance,10.0,619505.00,BC,2083.978298,2258.862396
21,121667,Construction,54.0,2063501.84,AB,4520.067083,5053.663746
22,122942,Food Services,27.0,1424374.00,BC,1564.892460,1878.733387
23,121680,Food Services,10.0,311188.00,BC,2469.938079,1976.997456
24,122807,Finance and Insurance,12.0,790082.00,BC,673.650323,7794.847653
25,124096,Food Services,34.0,NaN,AB,1109.659225,3810.334867
26,123815,Food Services,10.0,444538.00,BC,457.701848,0.000000
27,128352,Construction,788.0,40981306.00,BC,25147.682272,1379.319882
28,127237,Finance and Insurance,37.0,1781372.00,BC,2679.619049,1989.426202
29,127803,Agriculture,52.0,2879098.00,AB,1173.424425,1842.358987
...,...,...,...,...,...,...,...
9970,121049,Food Services,19.0,795849.00,BC,1738.191455,2770.464440
9971,127372,Construction,234.0,9191440.76,AB,18452.388024,11142.404533
9972,124854,Food Services,NaN,1958799.00,AB,1277.067160,2410.280469
9973,127846,Food Services,22.0,882129.00,AB,460.685434,2745.082491
9974,128299,Construction,244.0,12206771.00,BC,26387.257719,1453.058747
9975,120019,Finance and Insurance,145.0,4113300.00,BC,1535.009494,2174.725519
9976,123025,Education,36.0,2237640.00,BC,1756.571339,5445.339057
9977,122036,Agriculture,65.0,2905503.00,BC,2130.093629,1739.156563
9978,124633,Food Services,10.0,538219.00,BC,1326.362702,931.021194
9979,125173,Healthcare,11.0,506662.00,AB,10429.297558,1995.312597
9980,126259,Food Services,20.0,541677.00,AB,864.761584,1325.504422
9981,123661,Healthcare,270.0,12725373.00,AB,9581.868315,13538.885357
9982,126946,Agriculture,37.0,1699877.00,BC,2981.837215,7880.817510
9983,129036,Construction,124.0,5842134.00,BC,7513.843430,9071.441693
9984,124597,Finance and Insurance,34.0,2437759.50,AB,3622.870934,4279.754376
9985,126291,Construction,16.0,797384.40,AB,3685.258953,6421.579031
9986,126805,Construction,82.0,3351784.68,AB,3070.326214,6750.961837
9987,122304,Food Services,74.0,2827402.00,BC,2260.811646,7287.346690
9988,123017,Food Services,15.0,594621.60,AB,876.641824,2675.078699
9989,121506,Finance and Insurance,13.0,921580.50,AB,1238.808976,2198.570990
9990,129063,Food Services,40.0,1388302.20,AB,1249.068844,2368.751847
9991,125817,Finance and Insurance,10.0,618211.50,AB,10646.644319,2060.538164
9992,125010,Finance and Insurance,14.0,1244916.00,AB,1565.632355,2340.819552
9993,121190,Agriculture,10.0,516848.00,BC,1568.250921,2229.537051
9994,121448,Food Services,19.0,857120.00,BC,1812.162406,6981.409397
9995,128551,Finance and Insurance,30.0,1740370.00,BC,796.064772,7985.736865
9996,125090,Construction,51.0,2758514.00,BC,6330.410019,10344.420439
9997,129035,Food Services,97.0,2200024.80,AB,1033.965711,2529.527266
9998,126395,Food Services,40.0,1745366.00,BC,3246.858268,9542.715917
9999,120275,Finance and Insurance,97.0,NaN,AB,3633.894493,12445.147141

In [68]:
#4a
cd_med_emp = cd[(cd['EMP']>100)&(cd['EMP']<999)]
cd_med_emp

,CUSTOMER_ID,INDUSTRY,EMP,ANNUAL_SALES,PROVINCE,MOBILITY,INTERNET
1,128424,Construction,261.0,10675108.00,BC,17367.492873,1907.819410
5,128936,Construction,288.0,9197420.44,AB,10177.116938,8509.512884
6,120612,Construction,287.0,12744917.00,BC,18418.015877,16184.978195
8,122024,Education,248.0,NaN,AB,4468.821223,9592.091142
15,126852,Healthcare,240.0,NaN,AB,3233.790499,2373.312957
19,129042,Healthcare,146.0,9130229.00,BC,5468.266820,8078.559844
27,128352,Construction,788.0,40981306.00,BC,25147.682272,1379.319882
31,120049,Healthcare,332.0,18952710.00,AB,2529.172431,1948.129558
38,120475,Construction,176.0,NaN,AB,7877.864933,9667.786240
39,120332,Construction,376.0,NaN,BC,18013.052836,6521.646628
40,129862,Construction,857.0,40809430.00,BC,25685.379441,7857.806389
42,122588,Construction,305.0,NaN,AB,18054.204546,15729.873479
51,123271,Healthcare,151.0,8712604.00,AB,14967.962152,7021.975022
62,120214,Education,254.0,9074471.00,BC,3028.171423,9659.980952
63,125721,Food Services,135.0,9400626.00,BC,2790.718781,13092.292789
65,128314,Healthcare,212.0,11219771.00,AB,4664.988695,4856.912867
71,129587,Construction,145.0,10238088.00,BC,11575.425239,9729.753213
72,128764,Construction,169.0,10891063.00,BC,12261.198479,0.000000
80,124283,Finance and Insurance,209.0,11053416.00,BC,5398.402292,13361.867759
82,124604,Construction,159.0,10282169.00,BC,10106.241293,9022.908252
84,128413,Healthcare,138.0,8677796.00,AB,8476.029486,8877.505733
85,120662,Food Services,124.0,3840856.80,AB,1494.246238,6460.077079
94,120627,Construction,255.0,11509810.88,AB,8658.832496,10841.677389
102,127321,Healthcare,173.0,8770239.00,AB,2741.165716,4149.308212
105,122571,Construction,166.0,8452042.84,AB,6329.542900,7337.007830
109,127705,Construction,117.0,NaN,BC,6262.713566,0.000000
111,123527,Construction,797.0,24424055.40,AB,37356.163431,1008.461609
112,125591,Construction,144.0,6622013.00,BC,18305.718557,1746.104463
119,129038,Healthcare,127.0,6480016.00,AB,4785.735844,1642.694660
127,123045,Construction,210.0,3423865.36,AB,6555.750688,5447.026241
...,...,...,...,...,...,...,...
9791,127585,Construction,517.0,25172402.00,BC,15240.145175,1787.405060
9797,129030,Food Services,204.0,9943708.00,BC,5370.161527,11914.041584
9812,122920,Construction,125.0,6334055.00,BC,43456.952975,14072.236678
9814,129262,Construction,126.0,4430063.56,AB,7297.800008,1669.486594
9828,128240,Construction,346.0,24256623.00,BC,38103.182775,1731.382810
9846,121986,Construction,202.0,12007550.00,BC,7485.704298,11082.812383
9848,126364,Construction,269.0,9649506.44,AB,14258.814597,1763.535190
9858,127953,Construction,103.0,4742884.00,BC,7886.783047,2502.967265
9864,129942,Construction,148.0,5282315.40,AB,5318.585736,2176.105159
9871,124496,Education,220.0,11283810.00,AB,10282.903700,1872.464250
9874,129492,Healthcare,154.0,9848927.00,AB,8137.775327,7124.494651
9875,124296,Construction,535.0,16830490.32,AB,7605.255655,1773.869748
9877,120370,Construction,103.0,3729501.64,AB,4508.885860,7379.505308
9880,125193,Education,179.0,11048930.00,AB,7087.177046,15375.325391
9883,122877,Healthcare,130.0,5506770.00,AB,2582.150288,2461.451521
9888,125505,Construction,112.0,3284729.12,AB,4193.420765,1758.618916
9891,127494,Healthcare,107.0,4846642.00,BC,23786.840488,1977.510517
9893,126851,Construction,466.0,17856086.76,AB,13513.478988,12694.785652
9894,124398,Agriculture,133.0,7522155.00,AB,731.214863,1851.306337
9899,122070,Construction,137.0,NaN,BC,16501.729576,8688.569861
9922,126881,Construction,493.0,16749074.00,BC,20597.445931,2451.296166
9929,121496,Construction,632.0,24370224.00,BC,16545.718934,2111.932490
9933,127097,Food Services,117.0,2655560.40,AB,1244.272942,7014.838168
9944,120088,Construction,110.0,4226475.52,AB,3428.716086,1811.129795
9968,122665,Construction,201.0,9488083.20,AB,15916.563909,10650.821119
9971,127372,Construction,234.0,9191440.76,AB,18452.388024,11142.404533
9974,128299,Construction,244.0,12206771.00,BC,26387.257719,1453.058747
9975,120019,Finance and Insurance,145.0,4113300.00,BC,1535.009494,2174.725519
9981,123661,Healthcare,270.0,12725373.00,AB,9581.868315,13538.885357
9983,129036,Construction,124.0,5842134.00,BC,7513.843430,9071.441693

In [76]:
#4b
cd_med_emp_efs = (cd[(cd['INDUSTRY']=='Education') | (cd['INDUSTRY']=='Food Services')&(cd['MOBILITY']+cd['INTERNET']<5000)])
cd_med_emp_efs

,CUSTOMER_ID,INDUSTRY,EMP,ANNUAL_SALES,PROVINCE,MOBILITY,INTERNET
4,129251,Education,NaN,1148650.0,AB,1538.194116,1620.096543
7,123390,Food Services,14.0,494593.2,AB,473.066999,2366.373927
8,122024,Education,248.0,NaN,AB,4468.821223,9592.091142
22,122942,Food Services,27.0,1424374.0,BC,1564.892460,1878.733387
23,121680,Food Services,10.0,311188.0,BC,2469.938079,1976.997456
25,124096,Food Services,34.0,NaN,AB,1109.659225,3810.334867
26,123815,Food Services,10.0,444538.0,BC,457.701848,0.000000
30,122542,Food Services,NaN,311983.8,AB,1138.204675,1657.033112
33,127889,Education,56.0,1132384.0,BC,3920.216001,2301.588190
35,123596,Food Services,67.0,2628324.0,AB,1269.423009,2849.165546
37,127647,Food Services,10.0,365921.0,BC,1856.304737,2566.232815
46,129997,Education,31.0,1115725.0,AB,1538.507768,6350.126248
48,122115,Education,20.0,1472008.0,AB,0.000000,12624.684654
49,125931,Food Services,19.0,442509.6,AB,1184.084121,3228.750190
50,127355,Food Services,29.0,1781460.0,BC,1780.805445,1886.620728
52,121421,Food Services,10.0,270186.0,AB,1432.745261,1620.684764
55,123929,Food Services,NaN,620243.0,BC,2070.956935,1917.590594
56,122586,Food Services,22.0,1337907.0,BC,3812.735160,0.000000
59,124560,Food Services,25.0,766971.0,AB,649.547305,1812.830324
61,124575,Food Services,22.0,572263.2,AB,1419.177300,2382.107149
62,120214,Education,254.0,9074471.0,BC,3028.171423,9659.980952
67,125094,Education,70.0,3501703.0,AB,5314.654194,0.000000
73,127881,Education,64.0,1939441.0,BC,4292.842743,1733.082514
75,129600,Education,10.0,561428.0,BC,890.443107,2161.770233
76,123751,Food Services,10.0,246071.4,AB,528.259715,1706.231338
78,127429,Food Services,10.0,542474.0,BC,1041.527919,1058.829471
86,125350,Education,62.0,NaN,BC,3141.854237,3736.638689
89,129165,Food Services,15.0,579945.0,BC,1687.330423,2370.095214
91,122921,Food Services,100.0,2411346.6,AB,1114.694219,3864.143372
92,124887,Food Services,NaN,515797.2,AB,456.664010,1306.551599
...,...,...,...,...,...,...,...
9904,123466,Food Services,NaN,6551757.0,BC,1457.775852,0.000000
9906,129327,Food Services,NaN,1084158.6,AB,772.199619,1088.377146
9909,127757,Food Services,22.0,523999.2,AB,699.049603,1731.980791
9912,120438,Education,NaN,1198304.0,BC,823.149642,1855.878047
9917,124141,Food Services,10.0,209689.2,AB,1086.104896,2477.806097
9918,129081,Food Services,62.0,1139284.2,AB,927.200853,2648.585409
9919,125779,Food Services,10.0,194003.4,AB,193.337653,4562.793791
9921,124956,Food Services,10.0,310866.0,AB,1251.290451,2679.341763
9927,122739,Food Services,12.0,802556.0,BC,1981.209108,1483.515190
9931,121877,Food Services,10.0,306504.0,AB,575.605950,1763.416483
9934,128452,Food Services,25.0,403690.8,AB,1347.142205,1558.602617
9937,125562,Food Services,65.0,3983258.0,BC,2424.215753,1677.955380
9947,121479,Food Services,70.0,2066725.2,AB,1386.936082,2082.756972
9949,123439,Education,15.0,999757.0,AB,340.330168,1673.073874
9951,120036,Education,28.0,1200459.0,AB,9043.676890,1925.428784
9954,122988,Food Services,NaN,699150.6,AB,839.558631,1980.603748
9958,123660,Education,10.0,NaN,BC,1133.349781,1232.798714
9959,126872,Education,63.0,2080374.0,AB,3911.589855,7793.013581
9960,123983,Education,33.0,NaN,AB,3086.772138,6850.486213
9965,123105,Education,NaN,2050190.0,BC,0.000000,5685.637680
9969,123830,Food Services,10.0,421656.0,BC,1009.532114,1883.815006
9970,121049,Food Services,19.0,795849.0,BC,1738.191455,2770.464440
9972,124854,Food Services,NaN,1958799.0,AB,1277.067160,2410.280469
9973,127846,Food Services,22.0,882129.0,AB,460.685434,2745.082491
9976,123025,Education,36.0,2237640.0,BC,1756.571339,5445.339057
9978,124633,Food Services,10.0,538219.0,BC,1326.362702,931.021194
9980,126259,Food Services,20.0,541677.0,AB,864.761584,1325.504422
9988,123017,Food Services,15.0,594621.6,AB,876.641824,2675.078699
9990,129063,Food Services,40.0,1388302.2,AB,1249.068844,2368.751847
9997,129035,Food Services,97.0,2200024.8,AB,1033.965711,2529.527266

#### How many customers are in the campaign?

In [73]:
#4c
len(cd_med_emp_efs)

3062